@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 min-h-screen font-sans; 
  }

  
  img {
    /* display: inline-block; */
    max-width: 100%;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
}


.logo-personnalise {
  width: 60px !important; 
  height: auto !important;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo-personnalise:hover {
  transform: scale(1.1);
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=Poppins:wght@300;400;600&display=swap');

/* html, body {
  overflow-x: hidden;
  height: auto;
} */

.bg-grainy {
  /* Ton dégradé de bleu brillant vers ton rose */
  background: linear-gradient(135deg, #42A5F5 0%, #EBA8D5 100%);
  position: relative;
  overflow: hidden;
}

.bg-grainy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Le grain : on utilise un SVG de bruit très fin */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0%200%20200%20200'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter%20id='noiseFilter'%3E%3CfeTurbulence%20type='fractalNoise'%20baseFrequency='0.65'%20numOctaves='3'%20stitchTiles='stitch'/%3E%3C/filter%3E%3Crect%20width='100%25'%20height='100%25'%20filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  
  /* On réduit l'opacité du grain pour qu'il soit subtil */
  opacity: 0.15; 
  /* On mélange le grain avec la couleur */
  mix-blend-mode: overlay; 
  pointer-events: none;
}