@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 min-h-screen font-sans; 
  }

  
  img {
    /* display: inline-block; */
    max-width: 100%;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
}


.logo-personnalise {
  width: 60px !important; 
  height: auto !important;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo-personnalise:hover {
  transform: scale(1.1);
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=Poppins:wght@300;400;600&display=swap');

/* html, body {
  overflow-x: hidden;
  height: auto;
} */